* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 25vh;
    
}

body {
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

.app {
    position: relative;
    margin-right: 0;
    transition: margin-right 0.9s ease-in-out;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
}

.background.dark {
    background: url(../public/assets/bg-dark.jpg);

}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: url(../public/assets/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    z-index: -1;
}


.app.menu-open {
    margin-right: 600px;
}

[data-theme="light"] {
    --primary: #1b507e;
    --accent:#eabcae;
    --blur: #d4e6f7cc;
    --light: #ebe6ff;
}

[data-theme="dark"] {
    --primary: #6e79dd;
    --blur: rgba(22, 22, 44, 0.5);
    --light: #ebe6ff;
    --accent:#eabcae;
}

/*Typography*/

p {
    font-size: 18px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0.2px;
    font-family: 'Cabin', sans-serif;
    color: var(--primary);
}

.bold {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Cabin', sans-serif;
    color: var(--primary);
}

p.nav {
    font-size: 1.05em;
}

h2 {
    color: var(--primary);
    font-family: 'Kalnia', serif;
    line-height: 1.2;
    letter-spacing: -0.05em;
    font-size: 8em;
    font-weight: 900;
}

h2.animated {
    color: var(--primary);
    font-family: 'League Script', cursive;
    letter-spacing: normal;
    font-size: 10em;
    opacity: 100%;
    font-weight: 100;
    opacity: 90%;
    margin: 0.1em 0 0.5em 6px;
}

h2.section-heading {
    line-height: 1;
}

h3 {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 0.2px;
    font-family: 'Cabin', sans-serif;
    color: var(--primary);
}

button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-radius: 25px;
}


/* Global styling */

.container {
    width: 1200px;
    height: 100%;
}

.component-container {
    min-height: 80vh;
    width: 100%;
}

.divider {
    border-left: solid var(--primary) 1px;
    padding-left: 4em;
}


.col-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 4em;
    padding-top: 2em;
}

.col-60{
    text-align: justify;
    text-justify: inter-word;
    width: 60%;
}

.col-40 {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

.col-50 {
    width: 50%;
}

/*Header and navigation*/

.top-navbar-container {
    position: fixed;
    top: 1em;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 3;
}

.top-navbar {
    width: 75%;
    min-width: 200px;
    max-width: 600px;
    padding: 0.5em;
    background: var(--blur);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
    border-radius: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    transition: opacity 0.3s ease-in-out;
}

.top-navbar.hidden {
    opacity: 0;
}

.mode-toggle {
    display: flex;
    justify-content: space-between;
    gap: 1em;
    background-color: var(--accent);
    border-radius: 25px;
    padding: 8px 10px;
    z-index: 1;
}

.mode-toggle-button {
    position: relative;
    z-index: 1;
    transition: opacity 0.3s ease-in;
}

.mode-toggle-button.blur {
    opacity: 0;
}

.indicator {
    position: absolute;
    top: -3px;
    left: -5px;
    right: -5px;
    bottom: -3px;
    background-color: var(--light);
    border-radius: 50%;
    z-index: -1;
  }



/*Intro*/
.intro-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo-pic {
    height: 55px;
    position: absolute;
    top: 2em;
    left: 2em;
}

.button-container {
    display: flex;
    gap: 4em;
}

button.intro-button {
    padding: 1.3em 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--blur);
}

button.intro-button:hover {
    color: var(--accent);
}


/*About*/

.pic {
    display: flex;
    align-items: center;
    justify-content: center;
    
}


.profile-pic {
    width: 100%;
    max-height: 300px;
    overflow: hidden;
}

.unactive {
    opacity: 0;
}

ul.skills {
    display: flex;
    flex-direction: row;
    gap: 0.5em 1em;
    flex-wrap: wrap;
    width: 100%;
}

li.skills {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: var(--blur);
    padding: 10px 15px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

.icon {
    color: var(--accent);
}


/* Projects */

.card {
    background-color: var(--blur);
    border-radius: 25px;
    padding: 2em;
}

.project-pic {
    width: 90%
}


/*Media queries*/

@media only screen and (max-width: 2200px) {
    
    .menu {
        width: 45vw;
        right: -45vw;
    }

    .app.menu-open {
        margin-right: 50vw;
    }
}

@media only screen and (max-width: 1300px) {
    h2{
        font-size: 6em;
    }

    h2.animated {
        font-size: 8em;
    }

    h2.heading {
        font-size: 3em;
    }

    .container {
        width: 900px;
    }

    button.intro-button {
        padding: 1em 3em;
    }

    .logo-pic {
        height: 45px;
    }

    .info-content {
      height: 650px;
    }
  }

@media only screen and (max-width: 950px) {

    h2{
        font-size: 4em;
    }

    h2.animated {
        font-size: 5em;
    }
    
    .container {
        max-width: 80vw;
    }

    .menu {
        width: 100vw;
        right: -100vw;
    }

    .info-content {
        height: 1000px;
        width: 100%;
        flex-direction: column;
    }

    .pic-container {
        width: 100%;
        height: 50%;
    }

    .text-container {
        width: 100%;
        height: 50%;
        border-right: none;
    }
}

@media only screen and (max-width: 650px) {

    h2{
        font-size: 3em;
    }

    h2.animated {
        font-size: 4em;
    }

    .container {
        max-width: 90vw;
    }

    .info-content {
        height: 1100px;
        width: 100%;
        flex-direction: column;
    }

    .text-container {
        padding: 0;
    }

    .text-component {
        position: absolute;
        top: 3em;
        left: 3em;
        right: 3em;
    }

}

@media only screen and (max-width: 520px) {

    * {
        font-size: 0.96em;
    }
    
    h2{
        font-size: 3em;
    }

    h2.animated {
        font-size: 4em;
    }

}